.Footer{
    background-color: black;
    height: 35vh;
    width: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo{
    width: 12vw;
    height: 20vh;
    float: left;
}
.Socials{
    padding-top: calc(4vw);
    float: right;
}
.Logo p{
   color: white;
   position: static;
   padding-bottom: 10px;
   text-align: left;
   padding-left: 10px;
}

