.learn{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 45%;
    font-size: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.learn p {
    margin-bottom: 20px;
    text-align: center;
}